# Variables
A symbolic name for (or reference to) information

## Dynamic Typing
Python uses ***dynamic typing***, meaning when declaring variables there is no need to declare its type thus can be re-assign to different data types any time

In [24]:
a = 10      # Int

In [25]:
a = 'John'  # String

### Variable creation  
A variable (i.e *name*), like `a` is created when first assigned a value.

In [21]:
a = 3

### Variable types  
A variable never has any type information or constraints associated with it.

Type lives with **objects**, not names. Variables are generic and simply a *reference* to a particular object at a particular point in time

In [40]:
type(a)     # Get the object type of the name currently refer

float

In [26]:
a = 'spam'
type(a)

str

## The Assignment Operator ( = )
These are steps that reflect the operation of all assignments in Python:  
1. Create an object to represent the value  
2. Create the variable i.e name, if it doest yet exists  
3. Link the variable i.e name to the new object

In [38]:
a = 3           # Create an object to represent the value 3 -> create variable named a -> link the variable a to the object 3 
type(a)

int

In [39]:
a = 3.14159     # Reassign variable to float object 3.14159
type(a)

float

In [4]:
a = "spam"      # Reassign variable to string object 
type(a)

str

In [31]:
a = [19,29,30]  # Reassign variable to list object
type(a)

list

## Shared References
A scenario where multiple names referencing the same object is called *shared references*

In [5]:
a = 20
b = a

Note that the names `a` and `b` are not linked to each other thus any change in one side does not reflect to the other side

In [7]:
b = "spam" 
a,b

(20, 'spam')

### Shared References with Mutable Types
A shared references scenario that involve Python *mutable* types (list,dictionaries,and sets) can have *in-place* object changes

In [9]:
L1 = [1,2,3]    
L2 = L1

A change in one name may impact others when sharing references

In [32]:
L1[0] = 30      # Change the first item in L1
L1, L2          # Change in L1 also impact L2

([30, 6, 7], [30, 2, 3])

To avoid such scenario, create a copy using [:] operator or `copy()` from copy module

In [33]:
from copy import copy

L1 = [5,6,7]
L3 = L1[:]      # Create a shallow copy of L1 and assign to L3 
L4 = copy(L1)   # Create another shallow copy of L1 and assign to L4

In [36]:
L1[0] = 10      # Change the first item in L1
L1,L3,L4        # Change doesnt impact on copied objects

([10, 6, 7], [5, 6, 7], [5, 6, 7])

## Variables Names
1. Names cannot start with a number
2. Names cannot contain spaces
3. Names cannot contain symbols
4. Names can only  contain uppercase and lowercase letters (A-Z,a-z), digits(0-9),and underscores

### Descriptive names are better than short names
A good rule of thumb is to keep variable names to fewer than three or four words while maintaining clarity

In [41]:
s = 3600                    # not descriptive and ambigous
seconds_per_hour = 3600     # descriptive thus maintaining clarity

### Python Variable Naming Conventions
According to PEP 8 variables names are to be written in snake case as the official style guide

Snake case meaning every letter is lower-case, and each word is separated by an underscore

In [42]:
list_of_numbers = [1,2,3]   # snake case

There are others case such as camel and pascal case

In [43]:
listOfNumbers = [1,2,3]     # camel case 
ListOfNumbers = [1,2,3]     # pascal case

## Additional Assignment Forms

### Tuple assignment (positional)

In [8]:
a, b = 10, 20
c, d = 'c', 'ddd'
a, b ,c, d

(10, 20, 'c', 'ddd')

### Sequence assignment

In [21]:
s1 = "spam"

In [26]:
c1,c2,c3,c4 = s1
c1,c2,c3,c4

('s', 'p', 'a', 'm')

In [28]:
c1, c2, *c3 = s1
c1, c2, c3

('s', 'p', ['a', 'm'])

In [12]:
seq = [1,2,3,4,5]

In [14]:
a, b, c, d, e = seq
a, b, c, d ,e

(1, 2, 3, 4, 5)

In [17]:
a, *b = seq     # first, rest
a, b

(1, [2, 3, 4, 5])

In [16]:
*a, b = seq     # rest, last
a, b

([1, 2, 3, 4], 5)

In [ ]:
a, b, *c = seq
a, b, c

### Multiple target assignment

In [29]:
a = b = 0
a, b

(0, 0)

In [30]:
a = b + 1
a, b

(1, 0)

In [32]:
a = b = []
a, b

([], [])

In [33]:
a.append(10)
a, b

([10], [10])

### Augmented assignment
|||||
|:---|---|---|---|
| X += Y | X &= Y | X âˆ’= Y | X \|= Y|
| X *= Y | X ^= Y | X /= Y |X >>= Y|
| X %= Y | X <<= Y| X **= Y| X //= Y|

In [34]:
a = 10
a += 2
a

12

In [35]:
b = 20
b *= 4
b

80