# Booleans
Data type to represent True or False

## Booleans Literals

In [14]:
b = True
b, type(True)

(True, bool)

In [15]:
b = False 
b, type(False)

(False, bool)

## Booleans as Numbers

Bool is a subclass of int

In [54]:
issubclass(bool,int)

True

True is equal to 1

In [8]:
1 == True, 1.0000 == True, 1.0001 == True

(True, True, False)

False is equal to 0

In [18]:
False == 0, False == 0.000

(True, True)

In [17]:
True + (False / True)

1.0

## Booleans Operators
Boolean operators are those that take Boolean inputs and return Boolean results

### The `not` Boolean Operator

`not` truth table  
|x|~x|
|---|---|
|false|true|
|true|false|

In [38]:
not True, not False

(False, True)

### The `and` Boolean Operator

`and` truth table
|x|y|result|
|---|---|---|
|false|false|false|
|false|true|false|
|true|false|false|
|true|true|true|

In [36]:
True and True, False and False, True and False, False and True

(True, False, False, False)

### The `or` Boolean Operator

`or` truth table
|x|y|result|
|---|---|---|
|false|false|false|
|false|true|true|
|true|false|true|
|true|true|true|

In [37]:
True or True, False or False, True or False, False or True

(True, False, True, True)

## Boolean Comparison Operators

`==, !=, <, <=, >, >=`

With numbers

In [53]:
7 < 3

False

In [41]:
2.0 >= 1                    # 1 is converted to float first

True

In [42]:
1.1 + 2.2 == 3.3            # False (reason is limited precision caused by floating-point type)

False

With strings

In [40]:
a = "spam"
b = "spam"

a == b

True

In [51]:
"a" < "b"                  # Based on lexicographic ordering (the way character are ordered in a dictionary)

True

In [52]:
"apple" < "astronaut"      # Extends to two or more characters by looking at each component letter of the string

True

Chained comparisons

In [47]:
1 < 2 < 3, 1 < 2 and 2 < 3

(True, True)

In [48]:
1 < 3 < 2, 1 < 3 and 3 < 2

(False, False)

In [49]:
1 == 1.0 < 0.5, 1 == 1.0 and 1.00 < 0.5

(False, False)

With logical operators

In [55]:
exp1 = 1 == 2
exp2 = 7 > 3

exp1, exp2, exp1 or exp2

(False, True, True)

In [56]:
age = 20
age >= 0 and age <= 9

False

In [57]:
x = 50
not (20 <= x < 40)

True

## The is Operator

The is operator checks for object identity

In [69]:
x = []
y = []

x is x, x is y          # x is y evaluates to True only when x and y evaluate to the same object

(True, False)

## The in Operator

The in operator checks for membership.

In [64]:
small_even = [2, 4]

1 in small_even, 2 in small_even

(False, True)

In [66]:
data = {'age':40,'job':'mgr'}

'age' in data, 'name' in data

(True, False)

In [65]:
"e" in "hello beautiful world", "beautiful" in "hello beautiful world"

(True, True)

## Object in Boolean
|Object|Value|Boolean Value|
|---|---|---|
|String|"spam"|True|
|String|""|False|
|List|[1,2]|True|
|List|[]|False|
|Dictionary|{'a':1}|True|
|Dictionary|{}|False|
|Number|1|True|
|Number|0.0|False|
|NoneType|None|False|

In [58]:
bool('spam'), bool('')

(True, False)

In [59]:
bool(1), bool(0)

(True, False)

In [60]:
bool([]), bool([1,3,5])

(False, True)

In [63]:
bool({}), bool({'name':'bob','age':40})

(False, True)

In [61]:
bool(None)

False

## Complex logical expressions
Operator order of precedence (high to low from left to right): <,<=,==,>=,> ; not ; and ; or

In [15]:
True and not (1 != 1)           # True and not (False) -> True and (not False) -> True and True

True

In [14]:
("A" != "A") or not (2 >= 3)    # (False) or not (False) -> False or (not False) -> False or True

True