# Tuples
Tuples are:  
  
1.Ordered colletions of arbitrary objects      
Tuples are positionally ordered collections of objects  
  
2.Accessed by offset  
Items in tuple are accessed by offset, support offset based operations (slicing and indexing)  
  
3.Immutable sequence    
Tuples dont support in-place change operations  
  
4.Fixed-length, heterogeneous, and arbitrarily nestable  
Cannot change the size of a tuple, can hold any type of objects including compound object (e.g., List, dictionaries, other tuples), and support arbitrary nesting 
      
5.Arrays of object references  
Tuple store access points to other objects (references), and indexing operation is pretty quick

## Creating Tuples
Ways to creating tuple:
1. Using `tuple()`
2. Using tuple literal operator: `()`

In [4]:
a = ()      # Empty tuple

a, type(a)

((), tuple)

In [5]:
a = (0,)    # One item tuple

a, type(a)

((0,), tuple)

In [6]:
a = (1,2,3,4,5)

a, type(a)

((1, 2, 3, 4, 5), tuple)

In [7]:
('Bob', ('dev', 'mgr'), [0,1,2,3])                  # Tuple with compound objects items

('Bob', ('dev', 'mgr'), [0, 1, 2, 3])

In [8]:
tuple("spam")                                       # Creating tuple from string

('s', 'p', 'a', 'm')

In [9]:
tuple([1,"hello","from","the","other","side"])      # Creating tuple from list

(1, 'hello', 'from', 'the', 'other', 'side')

## Basic Tuple Operations

#### Determine tuple length using `len()`

In [13]:
T = (100,1000,10000)
len(T)

3

#### Concatenation using `+` operator

In [14]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

#### Repetition using `*` operator

In [15]:
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

#### Indexing and slicing using `[]` operator (same like how string indexing/slicing behave)

Indexing `L[i]` fetches components at offsets:

In [1]:
t = (1,2,3,4,5)

t[0], t[-1], t[3], t[-3]

(1, 5, 4, 3)

Slicing `L[i:j]` extracts contiguous sections of sequences:

In [2]:
t = ('a','b','c','d','e','f')

t[:3], t[2:5], t[2:], t[:-3], t[-4:], t[-4:-1]

(('a', 'b', 'c'),
 ('c', 'd', 'e'),
 ('c', 'd', 'e', 'f'),
 ('a', 'b', 'c'),
 ('c', 'd', 'e', 'f'),
 ('c', 'd', 'e'))

Extended slicing `L[i:j:k]` accepts a step (or stride) k, which defaults to 1:

In [9]:
t = (1,2,3,4,5,6,7,8,9,10)

t[1:4:2], t[2::2], t[:6:3], t[::-1], t[5:2:-1]

((2, 4), (3, 5, 7, 9), (1, 4), (10, 9, 8, 7, 6, 5, 4, 3, 2, 1), (6, 5, 4))

#### Iterating over tuple with for loop using `in` keyword

In [2]:
T = (1,2,3,4,5)
for item in T:
    print(item,end=' ')

1 2 3 4 5

#### Membership test using `in` keyword

In [48]:
vowels = ("a", "e", "i", "o", "u")
"o" in vowels, "x" in vowels

(True, False)

#### Modifying Tuple
Tuples are immutable and values inside tuple arent mean to be modified. But there's a way to modifying tuple values

In [17]:
t = (1,2,3,4,5)

lt = list(t)        # Convert tuple to list
lt[0] = 10          # Perform modification / changes with the list

t = tuple(lt)       # Convert the list back to tuple

t

(10, 2, 3, 4, 5)

## Nested Tuple

In [4]:
tt = (1,'a',(2,4,6),(1,(1,1),2,(2,3)),'b')

In [5]:
tt[1], tt[2], tt[3]

('a', (2, 4, 6), (1, (1, 1), 2, (2, 3)))

In [7]:
tt[2][1], tt[2][1:], tt[3][1][-1], tt[-2][-1][::-1]

(4, (4, 6), 1, (3, 2))

## Tuple Packing and Unpacking

In [53]:
t = 4.21, 9.29    # packing 

t

(4.21, 9.29)

In [54]:
x, y = t          # unpacking

x, y

(4.21, 9.29)

## Tuple Methods

#### Sorting

`sorted()`  
Return a new list containing all items from the iterable in ascending order

In [20]:
t = (1,7,9,2)

sorted_t = tuple(sorted(t))        # Perform sorting in list then cast back to tuple 

sorted_t

(1, 2, 7, 9)

In [19]:
reversed_t = tuple(sorted(t,reverse=True))

reversed_t

(9, 7, 2, 1)

#### Index and Count

`T.index()`  
Return the first index of value

`T.count()`  
Return number of occurences of value

In [22]:
T = (1, 2, 3, 2, 4, 2)

In [25]:
T.index(2), T.index(2,2)        # Can be supplied with additional offset argument

(1, 3)

In [26]:
T.count(2), T.count(-1)

(3, 0)

## namedtuple
Python’s `namedtuple()` is a factory function available in collections module. It's used to create tuple subclasses with named fields.

In [41]:
from collections import namedtuple

#### Creating Tuple-Like Classes with `namedtuple()`

In [37]:
Point = namedtuple('Point',['x','y'])       # Create namedtuple type named Point, with two named fields 'x' and 'y'
issubclass(Point,tuple)

True

In [35]:
point = Point(3,5)      # Instantiate the new type

point.x, point.y        # Access values using attribute references

(3, 5)

In [36]:
point[0], point[1]      # Access values using indexing, backward compatible with original tuple

(3, 5)

In [40]:
point.x = 10              # Same like tuple, it is immutable

AttributeError: can't set attribute

#### Using Optional Arguments With `namedtuple()`

In [43]:
Developer = namedtuple('Developer',['name','level','language'],defaults=['Junior','Python'])

john = Developer('John')

john.name, john.level, john.language

('John', 'Junior', 'Python')

#### Creating `namedtuple` Instances From Iterables

In [47]:
Person = namedtuple('Person',['name','age','occupation'])

jane = Person._make(['Jane',23,'Developer'])

jane

Person(name='Jane', age=23, occupation='Developer')

#### Converting `namedtuple` Instances Into Dictionaries

In [49]:
bob = Person('Bob',20,'Manager')

bob_dict = bob._asdict()

bob_dict

{'name': 'Bob', 'age': 20, 'occupation': 'Manager'}

#### Replacing Fields in Existing `namedtuple` Instances

In [51]:
bob = bob._replace(age=24)      # Need to re-assign because ._replace() doesnt update in-place

bob

Person(name='Bob', age=24, occupation='Manager')

#### Iterate over the fields and the values in a given `namedtuple` instance using Python’s `zip()`

In [56]:
jane = Person('jane',20,'student')
for field,value in zip(jane._fields,jane):
    print(field,'->',value)

name -> jane
age -> 20
occupation -> student