# Sets
Sets are unordered collection of unique and immutable objects that supports operations corresponding to mathematical set theory

## Creating Set
Ways to create a set:
1. Using `set()`
2. Using set literals operator: `{}`

In [3]:
s = set()                           # Create empty set

s, type(s)

(set(), set)

In [4]:
s = {}                              # Will instead create empty dict

s, type(s)

({}, dict)

In [6]:
s = {'b','d','x','y','z'}     

s, type(s)

({'b', 'd', 'x', 'y', 'z'}, set)

In [7]:
s = set(['a','b','c','d','e'])     

s, type(s)

({'a', 'b', 'c', 'd', 'e'}, set)

In [17]:
s = {42, 'foo', (1, 2, 3), 3.14159}        # Set elements must be immutable

s, type(s)

({(1, 2, 3), 3.14159, 42, 'foo'}, set)

In [9]:
ss = 'food'

s = set(ss)             # Creating set from string

s, type(s)              # Duplicate values are represented only once and values order are not preserved

({'d', 'f', 'o'}, set)

## Set Operations

In [41]:
s1 = {'a','b','c','d','e','f','g'}
s2 = {'a','i','u','e','o'}

#### Length

In [42]:
len(s1), len(s2)

(7, 5)

#### Difference
Compute the difference between two or more sets

In [53]:
s = s1 - s2                 # Return the set of all elements that are in s1 but not in s2

s

{'b', 'c', 'd', 'f', 'g'}

In [49]:
s = s1.difference(s2)

s

{'b', 'c', 'd', 'f', 'g'}

#### Union  
Compute the union of two or more sets

In [47]:
s = s1 | s2                 # Return the set of all elements in either s1 or s2

s

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'i', 'o', 'u'}

In [46]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'i', 'o', 'u'}

#### Intersection  
Compute the intersection of two or more sets

In [54]:
s = s1 & s2                 # Return the set of elements common to both s1 and s2

s

{'a', 'e'}

In [51]:
s = s1.intersection(s2)

s

{'a', 'e'}

#### Symmetric Difference (XOR)
Compute the symmetric difference between sets

In [52]:
s = s1 ^ s2                 # Return the set of all elements in either s1 or s2, but not both

s

{'b', 'c', 'd', 'f', 'g', 'i', 'o', 'u'}

In [19]:
s1.symmetric_difference(s2)

{(1, 2, 3), 3.14159, 42, 'a', 'e', 'foo', 'i', 'o', 'u'}

#### Superset
Determine whether one set is a superset of the other

In [61]:
s1 >= s2                # Return True if s1 is a superset of s2 (if s1 contains every element of s2)

False

In [21]:
s1.issuperset(s2)

False

In [63]:
s1 > s2                 # Proper superset: s1 is a superset of s2 but cannot be identical to each other

False

#### Subset
Determine whether one set is a subset of the other

In [57]:
s1 <= s2                # Return True if s1 is a subset of s2 (if every element of s1 is in s2)

False

In [23]:
s1.issubset(s2)

False

In [58]:
s1 < s2                 # Proper subset: s1 is a subset of s2 but cannot be identical to each other

False

#### Disjoint  
Determines whether or not two sets have any elements in common

In [64]:
s1.isdisjoint(s2)      # Returns True if s1 and s2 have no elements in common

False

#### Membership

In [28]:
'a' in s1, 'd' in s2

(True, False)

In [29]:
('a','i','u') in s2

False

## Set Methods

#### Extending Set Elements

`S.add()`  
Adds an element to a set

`S.update()`  
Union iterables into set

In [31]:
s = {1, 2, 3 ,4 ,5 }

s.add(10)
s.add((7,8))
s.add('aaa')

s

{(7, 8), 1, 10, 2, 3, 4, 5, 'aaa'}

In [35]:
s = set()

s.update('aiueo')
s.update(['#','@','$'])

s

{'#', '$', '@', 'a', 'e', 'i', 'o', 'u'}

#### Removing Set Elements

`S.remove()`  
Removes an element from a set

`S.discard()`  
Removes an element from a set (Not raising an error when element not found)

`S.pop()`  
Removes and return a random element from a set

`S.clear()`  
Clears a set

In [3]:
s = {1,2,3,4,5,6,7,8,9,10,11,12}

s.remove(2)
s.remove(3)

s

{1, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [4]:
i1 = s.pop()
i2 = s.pop()

i1,i2,s

(1, 4, {5, 6, 7, 8, 9, 10, 11, 12})

In [6]:
s.discard(5)
s.discard(14)

s

{6, 7, 8, 9, 10, 11, 12}

In [38]:
s.clear()

s

set()

## Set Comprehensions

`new_set = {expression for member in iterable}`

In [10]:
s = {x ** 2 for x in [1,2,3,4]}

s

{1, 4, 9, 16}

`new_set = {expression for member in iterable (if conditional)}`  
Filter out unwanted values

In [9]:
s = {x for x in [1,2,3,4,5] if x%2==0}

s

{2, 4}

## Set Use Case

#### Remove duplicate item in a list

In [12]:
L = [1,2,1,3,2,4,5]
L = list(set(L))               # Remove duplicates but items order might changed
L

[1, 2, 3, 4, 5]

#### Find difference between two list

In [13]:
set([1,3,5,7]) - set([1,2,4,5,6])

{3, 7}

#### Check if two list have same item (order doesnt matters)

In [16]:
L1 = [1,3,5,2,4]
L2 = [2,5,3,4,1]

In [17]:
L1 == L2                # Order matters in sequences

False

In [18]:
set(L1) == set(L2)      # Rrder neutral equality

True

#### Case study: Engineers & Managers

In [20]:
engineers = {'bob','sue','ann','vic'}
managers = {'tom','sue'}

In [30]:
engineers & managers            # Who is both engineer and manager (intersection)

{'sue'}

In [29]:
engineers | managers            # All people in either category (union)

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [28]:
engineers - managers            # Engineers who are not manager (difference)

{'ann', 'bob', 'vic'}

In [27]:
managers > engineers            # Are all engineers is manager too (superset)

False

In [26]:
{'bob','sue'} < engineers       # Are bob and sue engineers (subset)

True

## Frozen Sets
Like a set, except that it is immutable. Frozensets are useful in situations where you want to use a set, but you need an immutable object

#### Creating frozen sets

In [32]:
fs = frozenset(['foo','bar','baz'])

fs, type(fs)

(frozenset({'bar', 'baz', 'foo'}), frozenset)